*{
box-sizing: border-box;
}

body{
    background-image: url(barberia3.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
margin: 0;
font-family: "Bernard MT";


}

h2{
   
    margin-left: 10px;
    color: white;
}

.form_register{
width: 95%;
    max-width: 500px;
    max-height: 280px;
    margin:  auto;
    background:  rgba(244,177,131,0.40);
    border-radius: 3px;
    margin-top: 140px;
    
   
}

.contenedor_inputs{
margin-top: -40px;
padding: 50px 30px;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.input_100{
width: 48%;
border: none ;
border-bottom: solid black .1rem;
    
}
input{
margin-bottom: 15px;
padding: 5px;
background-color: rgba(244,177,131,0);

    
      
}

.btn_enviar{
    background: yellow;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}
.btn_enviar:hover{
background-color: rgb(245,71,58);
}
.olvidar{
width: 100%;
    margin: 0;
    font-size: 12px;
}
a{
text-decoration: none;
}
